In [3]:
# ETL - Extra√ß√£o e Carga de dados para Oracle
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# üîπ ETAPA 1: EXTRA√á√ÉO DOS DADOS CSV
caminho_csv = 'nike_shoes_sales.csv'
df_csv = pd.read_csv(caminho_csv)

# Pr√©-visualiza√ß√£o
print("Pr√©via dos dados:")
print(df_csv.head())

# üîπ ETAPA 2: TRANSFORMA√á√ÉO DOS DADOS
# Aqui voc√™ pode ajustar os nomes das colunas, remover duplicados, preencher nulos, etc.
df_csv.columns = [col.strip().lower().replace(" ", "_") for col in df_csv.columns]

# Exemplo: eliminar nulos e duplicados
df_csv.dropna(inplace=True)
df_csv.drop_duplicates(inplace=True)

Pr√©via dos dados:
                     product_name  product_id  listing_price  sale_price  \
0  Nike Air Force 1 '07 Essential  CJ1646-600              0        7495
1            Nike Air Force 1 '07  CT4328-101              0        7495
2    Nike Air Force 1 Sage Low LX  CI3482-200              0        9995
3             Nike Air Max Dia SE  CD0479-200              0        9995
4             Nike Air Max Verona  CZ6156-101              0        9995

   discount brand                                        description  rating  \
0         0  Nike  Let your shoe game shimmer in the Nike Air For...     0.0
1         0  Nike  The legend lives on in the Nike Air Force 1 '0...     0.0
2         0  Nike  Taking both height and craft to new levels, th...     0.0
3         0  Nike  Designed for a woman's foot, the Nike Air Max ...     0.0
4         0  Nike  Pass on the good vibes in the Nike Air Max Ver...     0.0

   reviews                                             images
0        0  ["https://static.nike.com/a/images/t_PDP_1728_...
1        0  ["https://static.nike.com/a/images/t_PDP_1728_...
2        0  ["https://static.nike.com/a/images/t_PDP_1728_...
3        0  ["https://static.nike.com/a/images/t_PDP_1728_...
4        0  ["https://static.nike.com/a/images/t_PDP_1728_...

In [5]:
# üîπ ETAPA 3: CARGA PARA ORACLE
# Conex√£o com Oracle (ajuste os dados conforme seu ambiente)
usuario = 'rm559344'
senha = 'fiap24'
host = 'oracle.fiap.com.br'
porta = '1521'
sid = 'orcl'

# String de conex√£o Oracle via SQLAlchemy
str_conexao = f'oracle+cx_oracle://{usuario}:{senha}@{host}:{porta}/?service_name={sid}'

# Cria√ß√£o da engine
engine = create_engine(str_conexao)

# Nome da tabela de destino no Oracle
nome_tabela = 'TABELA_CLIENTES'

ModuleNotFoundError: No module named 'cx_Oracle'

In [ ]:
# Envia os dados para o Oracle
df_csv.to_sql(nome_tabela, con=engine, if_exists='replace', index=False)

print(f'Dados carregados com sucesso na tabela "{nome_tabela}".')